{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Google Sign In" %}{% endblock %}

{% block content %}
    <div style="text-align: center; margin-top: 20px;">
        <h1>{% trans "Sign In" %}</h1>
        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{provider}}.{% endblocktrans %}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">{% trans "Continue" %}</button>
        </form>
    </div>
{% endblock %}