# ==========================================
# Ignorar entorno virtual
# ==========================================
venv/
env/
ENV/
.vscode/

# ==========================================
# Archivos de entorno / credenciales
# ==========================================
.env
*.env

# ==========================================
# Llaves, tokens, credenciales
# ==========================================
secret.json
secrets.json

# ==========================================
# Archivos de Django
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# ==========================================
# Archivos compilados / cache
# ==========================================
*.log
*.pot

# ==========================================
# Media (imágenes subidas por usuarios)
# ==========================================
media/

# ==========================================
# Staticfiles (si generas con collectstatic)
# ==========================================
staticfiles/
staticroot/

# ==========================================
# Archivos del sistema
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# MySQL
# ==========================================
*.sql
mysqldump.sql

# ==========================================
# Configuración de editor
# ==========================================
.idea/
*.sublime-project
*.sublime-workspace
